:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;
    
    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-black: #000000;
    --bg-gray: #121212;
    --color-text: #b3b3b3;
    --color-text-white: #fff;
}